
@import "bourbon";


a {
  color: $core-color;
  &:hover {
    color: lighten($core-color, 20%);
  }
  &:visited {
    color: grayscale($core-color);
  }
}

stat-table-colors {

  table {
    .field-goals, .free-throws { background: transparentize(lighten(grayscale($core-color), 10%), .9); }
    .threes, .rebounds { background: transparentize(lighten(grayscale($core-color), 30%), .9); }

    tbody {

      tr:nth-child(even) {
        background: transparentize(lighten($core-color, 40%), .8);
      }

      tr.subtotal {
        border-bottom-color: $core-color;
        background: transparentize(lighten($core-color, 30%), .8);
      }

      tr.total {
        background: transparentize(lighten(grayscale($core-color), 30%), .8);
      }

      td span.positive-difference {
        color: green;
      }

      td span.negative-difference {
        color: red;
      }
    }
  }
}


body {background: mix(lighten($core-color, 50%), lighten(gray, 20%));}

#navigation {
  background-color: transparentize($core-color, .2);
}

section {

  border-color: $core-color;
  background: white;

  .section-header {
    color: white;
    background-color: $core-color;

    nav.section-content {
      li {
        color: grey;
        background-color: #CECECE;
        border-color: lighten(black, 25%);
      }

      li.selected {
        color: black;
        background: white;
        border-color: white;
      }
    }
  }
}

section.boxscores {
  @extend stat-table-colors;
}


section.standings {
  div.standings {
    div.conference-standings {
      tr:nth-child(even) {
        background: mix(gray, white, 10%);
      }
    }

    div.conference-standings, div.division-standings {
      tr.selected-team {
        background-color: transparentize(lighten($core-color, 20%), .7);
      }
    }

    .standings-title {
      background: rgba(150, 150, 150, .2);
    }
  }
}

$win-color: transparentize(green, .1);
$loss-color: transparentize(red, .1);
section.games {
  div.games-summary {
    border-bottom-color: black;
  }

  div.games-wrapper {

    span.W {color: $win-color;}
    span.L {color: $loss-color;}

    span.back-to-back          {color: maroon;}
    span.four-in-five          {color: blue;}
    span.opponent-back-to-back {color: green;}
    span.opponent-four-in-five {color: orange;}

    li.all-star-game {background: transparentize(blue, .85);}
  }

  div.games-wrapper, div.games-summary {
    ul {
      li.selected {
        background: rgba(27, 182, 193, 0.3);
      }
    }
  }
}

section.stat-totals, section.former-players, section.team-totals, section.opponent-totals, section.difference-totals {
  @extend stat-table-colors;

  .graph-container {
    background: white;
    span.W {color: $win-color;}
    span.L {color: $loss-color;}
  }

  .graph-title {
    color: gray;

    .stat {
      color: darken(mix(#ababab, #c1261b), 20%);
    }
  }

  .highlited {
    $highlite-color: transparentize(lighten($core-color, 20%), .5);
    background: $highlite-color !important;
  }
}

section.team-totals, section.opponent-totals, section.difference-totals {
  table tbody tr.total {background: white;}

  table tbody tr.highlited {
    $highlite-color: transparentize(lighten($core-color, 20%), .5);
    background: $highlite-color !important;
  }

  tbody {
    tr:nth-child(even) {
      background: transparentize(lighten($core-color, 40%), .8) !important;
    }
  }
}

section.links {

  li.conference {
    background: lighten($core-color, 40%);
  }
}
