          <div class="graph-container">
            <div class="graph-split-timeline"><span class="timeline-highlight"></span></div>
            <div class="graph"></div>
            <div class="graph-title">
              <span class="graph-specifics">
                <span class="player"></span>
                <span class="stat"></span>
              </span>
              <span> 10 Game Rolling Average</span>
              <span class="graph-split-report"> </span>
            </div>
          </div>
