<span class="selected-split-type">All</span>
<nav>
  <li data-split-type="all">all</li>
  <li data-split-type="november">november</li>
  <li data-split-type="december">december</li>
  <li data-split-type="january">january</li>
  <li data-split-type="february">february</li>
  <li data-split-type="march">march</li>
  <li data-split-type="april">april</li>
  <li data-split-type="home">home</li>
  <li data-split-type="road">road</li>
</nav>
