    <% conference = nil; conference = Nba::TEAMS[@team][:conference] if @team %>
    <section class="standings">
      <div class="section-header clearfix">
        <h1><a href="#standings">Standings</a></h1>
        <nav class="section-content"><li class="<%= (conference and conference == "eastern" ) ? "selected": "" %>">eastern</li><li class="<%= (conference and conference == "western" ) ? "selected": "" %>">western</li></nav>
      </div>
      <%= render 'aggregate_info/standings/standings' %>
    </section>

