
<section class="graph-info-container">
<div class="graph-info">
  <div class="legend blue-line">
    <div class="player">
    </div>
    <div class="statistic">
    </div>
    <div>10 Game Rolling Average</div>
  </div>
  <div class="legend orange-line">
    <div class="player">
    </div>
    <div class="statistic">
    </div>
    <div>10 Game Rolling Average</div>
  </div>
  <table><tbody></tbody></table>
</div>
</section>
