<div class="full-screen-container">

  <div class="content-area clearfix">

    <% if @boxscore.present? %>
      <%= render :partial => 'aggregate_info/boxscore/boxscore_section', :locals => {:boxscore => @boxscore, :expanded => false } %>
    <% end %>

    <%= render :partial => 'aggregate_info/games/games_section' %>

    <%= render :partial => 'aggregate_info/stats/stat_totals_section', :locals => {:title => "Stat Totals", :lines => @total_lines } %>

    <%= render :partial => 'aggregate_info/links/team_links_section' %>
  </div>
</div>
