    <div class="eastern standings clearfix">

      <%= render :partial => 'aggregate_info_alt/division_standings', :locals => { :division => Nba::Organization::CENTRAL_DIVISION } %>
      <%= render :partial => 'aggregate_info_alt/division_standings', :locals => { :division => Nba::Organization::ATLANTIC_DIVISION } %>
      <%= render :partial => 'aggregate_info_alt/division_standings', :locals => { :division => Nba::Organization::SOUTHEAST_DIVISION } %>

      <table>
        <thead><tr><td colspan="5">Eastern</td></tr></thead>
        <thead><tr><th>Team</th><th>W</th><th>L</th><th>Pct</th><th>Gb</th></tr></thead>
        <%= render :partial => 'individual_standings', :locals => { :organization => Nba::Organization::EASTERN_CONFERENCE, :standings_type => "conference", :selected => true } %>
      </table>
    </div>
