<div id="navigation">
  <div class="header-center">
    <span class="site-title">
      <a href="/"> bballnumbers</a>
    </span>
    <% if @team %>
      ---->
      <span class="team-name">
        <%= @team %>
      </span>
    <% end %>
  </div>
</div>
