<div id="graph">
</div>
<% content_for :javascript do %>
  var testData = [{x: "2011 Q1", y: 3, z: 2, a: 3},{x: "2011 Q3", y: 0, z: 2, a: 4}];
  Morris.Bar({
      element: 'graph',
      data: testData,
      xkey: 'x',
      ykeys: ['y', 'z', 'a'],
      labels: ['Y', 'Z', 'A']
  });
<% end %>
