$max-width: 64em;

@import "bourbon";
@import "neat";

$core-color: #C1261B;

.content-area {
  @include outer-container;
}

.record-box {display: none; }

section {
  width: 100%;
  margin: 10px 0;
  border: 1px solid $core-color;
  padding: 2px;

  .section-header {
    @include fill-parent;

    h1 {
      display: inline; 
      float: left; 
      @include span-columns(2);
      margin-top: 0px;
      margin-bottom: 5px;
    }

    nav.section-content {
      float: left;
      display: inline;
      //@include fill-parent;
      @include span-columns(6);
      li {
        text-align: center;
        border: 1px solid darken($core-color, 100%);
        @include span-columns(1.5 of 6);
      }
    }

    nav.between-sections {
    
      @include shift(2.5);
      @include span-columns(1.5);
      .up {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 0px 16px 25px;
        border-color: transparent transparent black;
        border-style: solid;
        margin-right: 10px;
      }

      .down {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 25px 16px 0px;
        border-color: black transparent transparent;
        border-style: solid;
      }
    }
  }


  table {
    width: 100%;
  }
}

section.boxscores {
  .opponent-boxscore {display: none;}
}

section.standings {
  div.standings {
    div.division-standings {
      @include span-columns(4);
      @include nth-omega(3n);
    }
  }

  .western.standings { display: none; }
}

section.games {
  div.games-wrapper {
    div.team-games {
      @include span-columns(4);
    }
  }

  //Jquery scroll pane plugin styling.
  .scroll-pane {
    height: 577px;
    width: 100%;
    overflow: hidden;
  }

  .jspTrack { background: transparent; }
  .jspVerticalBar { background: transparent; }

  .jspDrag {
    background: darken($core-color, 100%);
  }
}

section.stat-totals {
  .per-game, .per-36 {display: none;}
}
