$max-width: 64em;

@import "bourbon";
@import "neat";

$core-color: #132F54;

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 3px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  color: white;
  font-size: 24px;
  font-family: 'Bowlby One', cursive;
  z-index: 1000;
  background-color: transparentize($core-color, .3);

  .header-center {
    width: 1024px;
    @include outer-container;
  }

  a {
    &:link {color: white;}
    &:visited {color: white;}
    &:hover {color: white;}
    &:active {color: white;}
  }
}

tr {
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: $core-color;
  &:hover {
    color: lighten($core-color, 20%);
  }
  &:visited {
    color: grayscale($core-color);
  }
}


stat-table-style {

  table {
    width: 100%;
    //border-style: hidden;

    .field-goals, .free-throws, .threes {
      text-align: right;
      width: 34px;
      padding-right: 5px;
      padding-left: 2px;

      &.last-stat-column:before {
        text-align: left;
        content: '-';
        white-space: pre;
        margin-left: -3px;
        margin-right: 3px;
      }
      &.last-stat-column {
        padding-left: 0px;
        text-align: left;
        padding-right: 2px;
      }
    }

    .field-goals, .free-throws, .adv-percentage { background: transparentize(lighten(grayscale($core-color), 10%), .9); }
    .threes, .rebounds { background: transparentize(lighten(grayscale($core-color), 30%), .9); }
    .percentage { width: 38px;}
    .blocks, .steals, .fouls {width: 30px;}
    .rebounds {width: 36px;}

    thead {
      font-size: 14px;
      line-height: 22px;

      & {
        th { text-align: center; }

        th:first-child {
          font-size: 18px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
      }

      tr:nth-child(even) {
        background: transparentize(lighten($core-color, 40%), .8);
      }

      tr.total {
        background: transparentize(lighten(grayscale($core-color), 30%), .8);
        border-bottom: 1px solid lighten(gray, 30%);
      }

      tr.total, tr.subtotal {
        font-weight: bold;
      }

      tr.subtotal {
        border-top: 1px solid black;
        border-bottom: 1px solid $core-color;
        background: transparentize(lighten($core-color, 30%), .8);
      }

      td:first-child {
        padding-left: 4px;
        font-size: 14px;
        text-align: left;
        width: 280px;
      }

      td span.positive-difference {
        color: green;
      }

      td span.negative-difference {
        color: red;
      }
    }
  }
}

.content-area {
  padding-top: 35px;
  @include outer-container;
}

body {background: mix(lighten($core-color, 50%), lighten(gray, 20%));}

nav li {cursor: pointer; }
ul li {list-style: none;}


section {
  width: 100%;
  margin: 10px 0;

  border: solid $core-color 8px;
  @include border-radius(20px);
  background: white;
  overflow: hidden;
  padding-bottom: 6px;

  .section-header {
    @include fill-parent;
    background-color: $core-color;
    color: white;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;

    h1 {
      display: inline; 
      float: left; 
      @include span-columns(4);
      margin-top: 0px;
      margin-bottom: 5px;

      a {
        &:link {color: white;}
        &:visited {color: white;}
        &:hover {color: white;}
        &:active {color: white;}
      }
    }

    nav.section-content {
      float: left;
      display: inline;
      color: black;

      @include span-columns(8);
      li {
        text-align: center;
        background-color: #CECECE;
        border: 1px solid lighten(black, 25%);
        @include span-columns(1.5 of 8);
        @include box-shadow(inset 0 0 3px 0px hsla(0, 0%, 0%, 0.65));
        color: grey;
        @include transition-duration(.2s);
        @include transition-timing-function(linear);
        padding-top: 1px;
        height: 27px;
        font-weight: bold;
      }

      li.selected {
        background: white;
        @include box-shadow(0 0 4px 0px white);
        border: 1px solid white;
        color: black;
      }
    }
  }


  table {
    width: 100%;
  }

  div.section-content {
    background: white;
    padding: 0 10px;
  }
}

section.plain {
  padding-top: 14px;
  .section-header {display: none;}
}

section.boxscores {
  @extend stat-table-style;
  .boxscore {display: none;}
  .boxscore.selected {display: block;}
  .percentage { width: 38px;}
}


section.standings {

  li {
    text-transform: capitalize;
  }

  div.standings {
    div.division-standings {
      @include span-columns(4);
      @include nth-omega(3n);
    }

    div.conference-standings {
      float: left;
      width: 100%;

      tr:nth-child(even) {
        background: mix(gray, white, 10%);
      }
    }

    .standings-title {
      margin-left: -4px;
      padding-left: 4px;
      height: 25px;
      background: rgba(150, 150, 150, .2);
      font-weight: bold;
      text-transform: lowercase;
    }

    tr:nth-child(8) {
      border-bottom: 1px solid black;
    }

    tr.selected-team {
      background-color: transparentize(lighten($core-color, 20%), .8);
    }
  }

  div.standings { display: none; }
  div.standings.selected { display: block;}
}

section.games {
  div.games-summary {
    border-bottom: 2px solid black;
    ul {
      @include span-columns(4);
      font-size: 16px;
      padding: 0;
      margin-bottom: 4px;

      .game-summary-title {
        font-weight: bold;
        margin-left: 5px;
      }

      .game-summary-count {
        float: right;
        margin-right: 5px;
      }

      li {
        cursor: pointer;
      }

      li.selected {
        @include border-radius(6px);
      }
    }
  }

  div.games-wrapper {
    ul {
      font-size: 14px;
      line-height: 19px;
      padding-top: 1px;
      @include span-columns(4);
      padding-left: 0px;

      $win-color: transparentize(green, .1);
      $loss-color: transparentize(red, .1);

      span.W {
        color: $win-color;
      }
      span.L {
        color: $loss-color;
      }

      span.result, span.game-difficulty {
        float: right;
        margin-right: 5px;
      }

      span.game-date {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
      }

      li.all-star-game {background: transparentize(blue, .85);}
      li.first-game { border-bottom: 1px solid black;}
      li.selected {
        @include border-radius(6px);
      }
    }
  }

  span.back-to-back, span.four-in-five, span.opponent-back-to-back, span.opponent-four-in-five {
    font-size: 10px;
    color: maroon;
    margin-left: 4px;
    margin-right: 4px;
    float: right;
  }
  span.four-in-five {
    color: blue;
  }

  span.opponent-back-to-back {
    color: green;
  }

  span.opponent-four-in-five {
    color: orange;
  }
}

section.stat-totals, section.former-players, section.team-totals, section.opponent-totals {
  @extend stat-table-style;
  .totals, .per-game, .per-36, .advanced {display: none;}
  .selected { display: table-row-group;}

  td {
    width: 40px;
    cursor: pointer;
  }
  th { cursor: pointer; }

  td:first-child {
    padding-left: 4px;
    font-size: 14px;
    text-align: left;
    width: 200px;
    cursor: default;
  }

  .graph-container {
    background: white;
    height: 360px;

    .graph {
      height: 340px;
    }
  }

  .graph-title {
    font-weight: bold;
    color: gray;
    margin-left: 30px;

    .player {
    }

    .stat {
      text-transform: capitalize;
      color: darken(mix(#ababab, $core-color), 20%);
    }
  }

  .highlited {
    $highlite-color: transparentize(lighten($core-color, 20%), .5);
    background: $highlite-color !important;
    @include transition-duration(.3s);
    @include transition-timing-function(linear);
  }
}

section.stat-totals, section.former-players {
  th, td {
    &.games {display:none;}
    &.rating {display:none;}
    &.pace {display:none;}
  }
}

section.team-totals, section.opponent-totals {
  table tbody {
    tr.total {
      background-color: transparent;
      border-bottom: none;
    }

    tr.total {
      font-weight: normal;
      font-size: 11px;
      line-height: 18px;
    }

    tr:nth-child(even) {
      background: transparentize(lighten($core-color, 40%), .8);
    }

  }
  th, td {
    &.usage {display:none;}
    &.game-score {display:none;}
    &.games-started {display:none;}
    &.minutes {display:none;}
  }
  li.per-36 {display: none !important;}
}

section.links {
  ol { list-style: none; padding: 0px; }
  ol.conference {
    li.conference, li.division {font-weight: bold;}
    li.conference {
      margin-left: -2px;
      background: #F4B8B4;
      padding-left: 7px;
      text-transform: capitalize;
      padding-top: 2px;
      background: lighten($core-color, 40%);
    }
    @include span-columns(12);
    margin: 2px;
    ol.division {
      @include span-columns(4);
      margin: 4px;
    }
  }
}

section.boxscores-summary {
  .section-content {
    @include shift(1);
    .boxscore-summary {
      border: 1px solid grayscale($core-color);
      background: grayscale(lighten($core-color, 40%));
      margin: 2px;
      height: 40px;
      @include span-columns(1.5);
      div.away-score, div.home-score {height: 20px; line-height: 20px;}
      div.home-score {}
      span.team-abbr {float: left; margin-left: 4px;}
      span.score {float: right; margin-right: 4px;}
      cursor: pointer;
    }
  }
}

footer {
  .copyright {
    text-align: center;
    display: block;
  }
}
