$max-width: 64em;

@import "bourbon";
@import "neat";

$core-color: blue;

.content-area {
  @include outer-container;
}

.record-box {display: none; }

section {
  width: 100%;
  background-color: transparentize($core-color, .9);
  margin: 10px 0;

  .section-header {
    @include fill-parent;

    h1 {
      display: inline; 
      float: left; 
      @include span-columns(2);
      margin-top: 0px;
    }

    nav.section-content {
      float: left;
      display: inline;
      //@include fill-parent;
      @include span-columns(6);
      li {
        border: 1px solid darken($core-color, 100%);
        @include span-columns(1.5 of 6);
      }
    }

    nav.sections {
      @include span-columns(3);
      li {
        @include span-columns(1.5 of 6);
      }
    }
  }


  table {
    width: 100%;
  }
}

section.boxscores {
  .opponent-boxscore {display: none;}
}

section.standings {
  div.standings {
    div.division-standings {
      @include span-columns(4);
      @include nth-omega(3n);
    }
  }

  .western.standings { display: none; }
}

section.games {
  div.games-wrapper {
    div.team-games {
      @include span-columns(4);
    }
  }

  //Jquery scroll pane plugin styling.
  .scroll-pane {
    height: 577px;
    width: 100%;
    overflow: hidden;
  }

  .jspTrack { background: transparent; }
  .jspVerticalBar { background: transparent; }

  .jspDrag {
    background: darken($core-color, 100%);
  }
}

section.stat-totals {
  .per-game, .per-36 {display: none;}
}
