$max-width: 64em;

@import "bourbon";
@import "neat";

$core-color: #C1261B;

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 3px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  color: white;
  font-size: 24px;
  font-family: 'Bowlby One', cursive;
  z-index: 1000;

  .header-center {

    width: 1024px;
    @include outer-container;
  }
}

tr {
  font-size: 14px;
  line-height: 22px;
}


stat-table-style {

  table {
    width: 100%;
    //border-style: hidden;

    .field-goals, .free-throws, .threes {
      text-align: right;
      width: 34px;
      padding-right: 5px;
      padding-left: 2px;

      &.last-stat-column:before {
        text-align: left;
        content: '-';
        white-space: pre;
        margin-left: -3px;
        margin-right: 3px;
      }
      &.last-stat-column {
        padding-left: 0px;
        text-align: left;
        padding-right: 2px;
      }
    }

    .field-goals, .free-throws, .adv-percentage { background: transparentize(lighten(grayscale($core-color), 10%), .9); }
    .threes, .rebounds { background: transparentize(lighten(grayscale($core-color), 30%), .9); }
    .percentage { width: 38px;}
    .blocks, .steals, .fouls {width: 30px;}
    .rebounds {width: 36px;}

    thead {
      font-size: 14px;
      line-height: 22px;

      & {
        th { text-align: center; }

        th:first-child {
          font-size: 18px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
      }

      tr:nth-child(even) {
        background: transparentize(lighten($core-color, 40%), .8);
      }

      tr.total {
        background: transparentize(lighten(grayscale($core-color), 30%), .8);
        border-bottom: 1px solid lighten(gray, 30%);
      }

      tr.total, tr.subtotal {
        font-weight: bold;
      }

      tr.subtotal {
        border-top: 1px solid black;
        border-bottom: 1px solid $core-color;
        background: transparentize(lighten($core-color, 30%), .8);
      }

      td:first-child {
        padding-left: 4px;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}

.content-area {
  padding-top: 25px;
  @include outer-container;
}

body {background: mix(lighten($core-color, 50%), lighten(gray, 20%));}

nav li {cursor: pointer; }
ul li {list-style: none;}


section {
  width: 100%;
  margin: 10px 0;

  border: solid $core-color 8px;
  @include border-radius(20px);
  background: white;
  overflow: hidden;
  padding-bottom: 6px;

  .section-header {
    @include fill-parent;
    background-color: $core-color;
    color: white;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;

    h1 {
      display: inline; 
      float: left; 
      @include span-columns(2);
      margin-top: 0px;
      margin-bottom: 5px;
    }

    nav.section-content {
      float: left;
      display: inline;
      color: black;

      @include span-columns(6);
      li {
        text-align: center;
        background-color: lighten(grayscale($core-color), 40%);
        border: 1px solid lighten(black, 25%);
        @include span-columns(1.5 of 6);
        @include box-shadow(inset 0 0 3px 0px hsla(0, 0%, 0%, 0.65));
        color: grey;
        @include transition-duration(.2s);
        @include transition-timing-function(linear);
        padding-top: 1px;
        height: 27px;
        font-weight: bold;
      }

      li.selected {
        background: white;
        @include box-shadow(0 0 4px 0px white);
        border: 1px solid white;
        color: black;
      }
    }

    nav.between-sections {

      @include shift(2.5);
      @include span-columns(1.5);
      .up {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 0px 16px 25px;
        border-color: transparent transparent black;
        border-style: solid;
        margin-right: 10px;
        cursor: pointer;
      }

      .down {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 25px 16px 0px;
        border-color: black transparent transparent;
        border-style: solid;
        cursor: pointer;
      }
    }
  }


  table {
    width: 100%;
  }

  div.section-content {
    background: white;
    padding: 0 10px;
  }
}

section.boxscores {
  @extend stat-table-style;
  .boxscore {display: none;}
  .boxscore.selected {display: block;}
  .section-header h1 {
    @include span-columns(3);
  }
  nav.between-sections {
    @include shift(1.5);
  }
}


section.standings {

  li {
    text-transform: capitalize;
  }

  div.standings {
    div.division-standings {
      @include span-columns(4);
      @include nth-omega(3n);
    }

    div.conference-standings {
      float: left;
      width: 100%;
    }

    .standings-title {
      height: 25px;
      background: rgba(150, 150, 150, .2);
    }

    tr:nth-child(8) {
      border-bottom: 1px solid black;
    }

    tr.selected-team {
      background-color: transparentize(lighten($core-color, 20%), .8);
    }
  }

  div.standings { display: none; }
  div.standings.selected { display: block;}
}

section.games {
  div.games-summary {
    border-bottom: 2px solid black;
    ul {
      @include span-columns(4);
      font-size: 16px;
      padding: 0;
      margin-bottom: 4px;

      .game-summary-title {
        font-weight: bold;
      }

      .game-summary-count {
        float: right;
      }
    }
  }
  div.games-wrapper {
    ul {
      font-size: 14px;
      line-height: 20px;
      @include span-columns(4);
      padding-left: 0px;

      $win-color: transparentize(green, .1);
      $loss-color: transparentize(red, .1);
      li:nth-child(even) {
        $even-color: transparentize(grayscale(lighten($core-color, 30%)), .7);
        &.W {
          background: $even-color;
        }
        &.L {
          background: $even-color;
        }
      }

      span.W {
        color: $win-color;
      }
      span.L {
        color: $loss-color;
      }

      span.result, span.game-difficulty {float: right;}
      span.game-date {
        margin-right: 5px;
        font-weight: bold;
      }
      span.back-to-back, span.four-in-five, span.opponent-back-to-back, span.opponent-four-in-five {
        font-size: 10px;
        color: maroon;
        margin-left: 4px;
        margin-right: 4px;
        float: right;
      }
      span.four-in-five {
        color: blue;
      }

      span.opponent-back-to-back {
        color: green;
      }

      span.opponent-four-in-five {
        color: orange;
      }


      li.not-difficult {background: #f3f3f3;}
      li.all-star-game {background: transparentize(blue, .85);}
      li.first-game { border-bottom: 1px solid black;}
    }
  }

  nav.between-sections {

    @include shift(8.5);
  }

  //Jquery scroll pane plugin styling.
  .scroll-pane {
    height: 577px;
    width: 100%;
    overflow: hidden;
  }

  .jspTrack { background: transparent; }
  .jspVerticalBar { background: transparent; }

  .jspDrag {
    background: darken($core-color, 100%);
  }
}

section.stat-totals, section.former-players {
  @extend stat-table-style;
  .totals, .per-game, .per-36, .advanced {display: none;}
  .selected { display: table-row-group;}

  td {
    width: 40px;
  }

  td:first-child {
    padding-left: 4px;
    font-size: 14px;
    text-align: left;
    width: 200px;
  }

  .graph-container {
    background: white;
    height: 342px;
  }

  .highlited {
    $highlite-color: transparentize(lighten($core-color, 20%), .5);
    background: $highlite-color !important;
    @include transition-duration(.3s);
    @include transition-timing-function(linear);
  }
}
