$site-background: #eeeeee;
$general-background: white;
$table-background: white;
$table-border: black;
$game-score-background: white;
$content-area-background: #f3f3f3;
$title-background: white;
$record-box-background: #f9f5f5;
$win-background: rgba(100, 250, 100, .1);
$loss-background: rgba(250, 100, 100, .1);
$unselected-item: #cecece;
$selected-item: black;
$scroll-bar: rgba(200, 200, 200, .8);
$secondary-column-background: rgba(245, 245, 245, .5);
$tertiary-column-background: rgba(252, 252, 252, .5);
$secondary-table-border: #f0f0f0;
$secondary-row: rgba(255, 230, 230, .2);
$total-row: rgba(100, 100, 100, .2);
$stat-highlite-background: rgba(0, 0, 255, 0.2);
$graph-first-line: rgba(96, 169, 225, 1);
$graph-second-line: rgba(247, 182, 95, 1);
$flotr-grid-label: #222222;
$header-text: #080808;

body {
  background: $site-background;
}

table, th, td
{
  border: 1px solid $table-border;
}

table, tr{
  background: $table-background;
}

table {
  thead {
    text-align: center;
    font-weight: 900;
  }
}


.content-area {
  width: 960px;
  margin: 0 auto;
  background-color: transparent;
  @include box-shadow(0 -2px 5px 3px hsla(0, 0%, 0%, 0.4));
  position: relative;

  .border-filler {
    border: 1px solid black;
    border-bottom: 0;

    position: absolute;
    width: 958px;
    height: 99%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: $content-area-background;
  }

  header {
    width: 100%;

    color: $header-text;

    text-align: center;
    float: left;

    .title {
      width: 33%;
      height: 111px;
      padding-top: 9px;
      border: 1px solid $table-border;
      margin-right: 1px;

      float: left;

      background: $title-background;

      font: {
        size: 72px;
        family: 'Bevan', serif;
      }
    }

    .record-box {
      height: 120px;
      width: 78px;
      border: 1px solid $table-border;

      float: right;
      background: $record-box-background;

      text-align: center;
      cursor: pointer;

      .record-description {
        margin-top: 40px;
        font-weight: bold;
      }
    }
  }

  .game-score {
    width: 958px;
    border: solid $table-border;
    border-width: 2px 1px;
    float: left;
    margin-bottom: -1px;
    margin-top: -1px;

    background: $game-score-background;

    font: {
      weight: 900;
      size: 60px;
    }

    text: {
      align: center;
    }
  }

  .standings, .team-games, .graph-info {
    width: 318px;
    margin-right: 2px;

    float: left;

    table {
      width: 318px;

      thead {
        font-weight: 900;
        text-align: center;
      }

      tbody {
        tr {
          font-size: 14px;
          line-height: 22px;
          text-align: center;

          td:first-child {
            padding-left: 4px;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
          }
        }
      }
    }
  }

  .team-games, .graph-info {
    tr { cursor: pointer;}
  }

  .standings {
    tbody.division {
      display: none;
      color: $unselected-item;

      &.division.selected {
        display: table-row-group;
        color: $selected-item;
      }
    }

    .division-label, .conference-link {
      color: $unselected-item;
      cursor: pointer;

      &.selected {
        color: $selected-item;
      }
    }

  }

  .western.standings {
    display: none;
  }

  .team-games {
    height: 604px;
    display: none;

    .scroll-pane {
      height: 578px;
      width: 100%;
      overflow: hidden;
    }

    table {
      border-top-style: hidden;

      td:nth-child(3) {
        width: 50px;
      }
    }

    .W { background: $win-background; }
    .L { background: $loss-background; }

    .jspTrack { background: transparent; }
    .jspVerticalBar { background: transparent; }

    .jspDrag {
      background: $scroll-bar;
    }
  }

  .boxscore, .stat-totals {
    width: 638px;
    border: 1px solid $table-border;
    float: right;

    .boxscore-link {
      color: $unselected-item;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-style: hidden;

      td { border-color: $secondary-table-border; }
      .last-stat-column { border-right-color: $table-border; }
      .field-goals, .free-throws { background: $secondary-column-background; }
      .threes, .rebounds { background: $tertiary-column-background; }

      thead {
        font-size: 14px;
        line-height: 22px;

        &:first-child {
          th:first-child {
            font-size: 18px;
          }
        }
      }

      tbody {
        tr {
          font-size: 12px;
          line-height: 22px;
          text-align: center;
        }

        tr:nth-child(even) {
          background: $secondary-row;
        }

        tr.total {
          background: $total-row;
        }

        td:first-child {
          padding-left: 4px;
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }

  .boxscore {
    th:first-child { width: 181px; }
    tr:nth-child(5) { border-bottom: 2px solid $table-border; }
  }

  .opponent-boxscore { display: none; }

  .stat-totals {
    width: 958px;
    margin-top: 2px;
    float: right;

    table {
      width: 100%;

      thead.stats-view-titles {
        font-size: 16px;
        line-height: 22px;
        text-align: left;

        span {
          margin-left: 20px;
          color: $unselected-item;
          cursor: pointer;

          &.selected-stat-group-link { color: $selected-item; }
        }
      }

      thead {
        th {width: 36px;}
        th:first-child {width: 200px;}
      }

      tbody {
        tr.highlited { background: $stat-highlite-background; }
        td.highlited { background: $stat-highlite-background; }

        &.per-game, &.per-36, &.totals { display: none; }
        &.selected-stat-group { display: table-row-group; }
      }
    }
  }

  .graph-info-container {
    width: 318px;
    height: 60px;
    margin-top: 2px;

    float: left;
    overflow: hidden;

    .graph-info {
      color: $table-border;
      background-color: white;

      table {
        font-size: 12px;
        line-height: 16px;

        thead th {
          height: 56px;
          background: red;
          font-size: 18px;
          text-align: left;
          text-transform: capitalize;
          border: 1px solid $table-border;
          line-height: 20px;
          .stat {
            background: yellow;
            opacity: .4;
          }
        }

        tbody {
          display: none;

          td {
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }
  }

  .graph-container {
    width: 622px;
    height: 292px;
    padding: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-top: 10px;
    border: 1px solid $table-border;
    margin-top: 2px;
    float: right;
    background: white;

    .graph {
      height: 100%;
      width: 100%;

      .flotr-grid-label {
        color: $flotr-grid-label;
        font-weight: bold;
      }

      .flotr-title {
        text-transform: capitalize;
        background: red !important;
        width: auto !important;
        padding: 0 4px !important;
        margin-left: -2px;
      }

      .flotr-mouse-value {
        border-radius: 0px !important;
      }
    }
  }
}
