$max-width: 64em;

@import "bourbon";
@import "neat";

$core-color: #C1261B;

tr {
  font-size: 14px;
  line-height: 22px;
}

stat-table-style {

  table {
    width: 100%;
    border-style: hidden;

    td { border-color: darken($core-color, 60%); }
    .last-stat-column { border-width: 0 1px 0 0; border-right-color: black ; }//mix($core-color, rgb(50, 50, 50)); }
    .field-goals, .free-throws { background: transparentize(lighten(grayscale($core-color), 10%), .9); }
    .threes, .rebounds { background: transparentize(lighten(grayscale($core-color), 30%), .9); }

    thead {
      font-size: 14px;
      line-height: 22px;

      &:first-child {
        th { text-align: center; }

        th:first-child {
          font-size: 18px;
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        font-size: 12px;
        line-height: 22px;
        text-align: center;
      }

      tr:nth-child(even) {
        background: transparentize(lighten($core-color, 40%), .8);
      }

      tr.total {
        background: transparentize(lighten(grayscale($core-color), 30%), .8);
      }

      tr.total, tr.subtotal {
        font-weight: bold;
      }

      td:first-child {
        padding-left: 4px;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}

.content-area {
  @include outer-container;
}

body {background: mix(lighten($core-color, 50%), lighten(gray, 20%));}

nav li {cursor: pointer; }

section {
  width: 100%;
  margin: 10px 0;

  border: solid $core-color 8px;
  @include border-radius(20px);
  background: white;
  overflow: hidden;
  padding-bottom: 6px;

  .section-header {
    @include fill-parent;
    background-color: $core-color;
    color: white;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;

    h1 {
      display: inline; 
      float: left; 
      @include span-columns(2);
      margin-top: 0px;
      margin-bottom: 5px;
    }

    nav.section-content {
      float: left;
      display: inline;
      color: black;

      @include span-columns(6);
      li {
        text-align: center;
        background-color: lighten(grayscale($core-color), 40%);
        border: 1px solid darken($core-color, 100%);
        @include span-columns(1.5 of 6);
      }

      li.selected {
        background: white;
      }
    }

    nav.between-sections {

      @include shift(2.5);
      @include span-columns(1.5);
      .up {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 0px 16px 25px;
        border-color: transparent transparent black;
        border-style: solid;
        margin-right: 10px;
        cursor: pointer;
      }

      .down {
        float: left;
        width: 0px;
        height: 0px;
        border-width: 25px 16px 0px;
        border-color: black transparent transparent;
        border-style: solid;
        cursor: pointer;
      }
    }
  }


  table {
    width: 100%;
  }

  div.section-content {
    background: white;
    padding: 0 10px;
  }
}

section.boxscores {
  @extend stat-table-style;
  .opponent-boxscore {display: none;}
}


//Standings\\
section.standings {

  li {
    text-transform: capitalize;
  }

  div.standings {
    div.division-standings {
      @include span-columns(4);
      @include nth-omega(3n);

    }

    thead td {
      background: rgba(150, 150, 150, .2);
    }

    tr.selected-team {
      background-color: transparentize(lighten($core-color, 20%), .8);
    }
  }

  .western.standings { display: none; }
}

section.games {
  div.games-wrapper {
    div.team-games {
      @include span-columns(4);

      $win-color: transparentize(green, .1);
      $loss-color: transparentize(red, .1);
      tr:nth-child(even) {
        $even-color: transparentize(grayscale(lighten($core-color, 30%)), .7);
        &.W {
          background: $even-color;
        }
        &.L {
          background: $even-color;
        }
      }

      tr.W {
          td:nth-child(3) {
            color: $win-color;
          }
      }
      tr.L {
          td:nth-child(3) {
            color: $loss-color;
          }
      }
    }
  }

  nav.between-sections {

    @include shift(8.5);
  }

  //Jquery scroll pane plugin styling.
  .scroll-pane {
    height: 577px;
    width: 100%;
    overflow: hidden;
  }

  .jspTrack { background: transparent; }
  .jspVerticalBar { background: transparent; }

  .jspDrag {
    background: darken($core-color, 100%);
  }
}

section.stat-totals, section.former-players {
  @extend stat-table-style;
  .totals, .per-game, .per-36 {display: none;}
  .selected { display: table-row-group;}

  td {
    width: 40px;
  }

  td:first-child {
    padding-left: 4px;
    font-size: 14px;
    text-align: left;
    width: 270px;
  }

  .graph-container {
    background: white;
    height: 342px;
  }

  .highlited {
    background: transparentize(lighten($core-color, 20%), .5) !important;
  }
}
